dev/node/winsynchronizer/sigesoft.node.sync.ui/Service References/ProxySync/Sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sync" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Server.ServiceBus.ServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Common" />
      <xsd:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Server.WebClientAdmin.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISync_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISync_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISync_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISync_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISync_IsNodeAbleToSync_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNodeAbleToSync" />
  </wsdl:message>
  <wsdl:message name="ISync_IsNodeAbleToSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNodeAbleToSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISync_SoftwareComponentCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SoftwareComponentCheck" />
  </wsdl:message>
  <wsdl:message name="ISync_SoftwareComponentCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoftwareComponentCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ISync_DownloadDeploymentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDeploymentFile" />
  </wsdl:message>
  <wsdl:message name="ISync_DownloadDeploymentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDeploymentFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISync_AddDeploymentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeploymentFile" />
  </wsdl:message>
  <wsdl:message name="ISync_AddDeploymentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeploymentFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ISync">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/GetData" message="tns:ISync_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/GetDataResponse" message="tns:ISync_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/GetDataUsingDataContract" message="tns:ISync_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/GetDataUsingDataContractResponse" message="tns:ISync_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNodeAbleToSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/IsNodeAbleToSync" message="tns:ISync_IsNodeAbleToSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/IsNodeAbleToSyncResponse" message="tns:ISync_IsNodeAbleToSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoftwareComponentCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/SoftwareComponentCheck" message="tns:ISync_SoftwareComponentCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/SoftwareComponentCheckResponse" message="tns:ISync_SoftwareComponentCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDeploymentFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/DownloadDeploymentFile" message="tns:ISync_DownloadDeploymentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/DownloadDeploymentFileResponse" message="tns:ISync_DownloadDeploymentFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDeploymentFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISync/AddDeploymentFile" message="tns:ISync_AddDeploymentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISync/AddDeploymentFileResponse" message="tns:ISync_AddDeploymentFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISync" type="tns:ISync">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISync/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISync/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNodeAbleToSync">
      <soap:operation soapAction="http://tempuri.org/ISync/IsNodeAbleToSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftwareComponentCheck">
      <soap:operation soapAction="http://tempuri.org/ISync/SoftwareComponentCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDeploymentFile">
      <soap:operation soapAction="http://tempuri.org/ISync/DownloadDeploymentFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeploymentFile">
      <soap:operation soapAction="http://tempuri.org/ISync/AddDeploymentFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sync">
    <wsdl:port name="BasicHttpBinding_ISync" binding="tns:BasicHttpBinding_ISync">
      <soap:address location="http://localhost:44894/Sync.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>