dev/node/winsynchronizer/sigesoft.node.sync.ui/Service References/ProxySync/Sync1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Server.ServiceBus.ServiceLibrary" />
  <xs:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Common" />
  <xs:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sigesoft.Server.WebClientAdmin.BE" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sigesoft.Server.ServiceBus.ServiceLibrary" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sigesoft.Server.ServiceBus.ServiceLibrary" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNodeAbleToSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q3:OperationResult" />
        <xs:element minOccurs="0" name="pintNodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNodeAbleToSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNodeAbleToSyncResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftwareComponentCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q5:OperationResult" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjSoftwareComponentsToCheck" nillable="true" type="q6:ArrayOfSoftwareComponentCheckDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftwareComponentCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sigesoft.Server.WebClientAdmin.BE" minOccurs="0" name="SoftwareComponentCheckResult" nillable="true" type="q7:ArrayOfsoftwarecomponentreleaseDto" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q8:OperationResult" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjSoftwareComponentsToCheck" nillable="true" type="q9:ArrayOfSoftwareComponentCheckDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDeploymentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q10:OperationResult" />
        <xs:element minOccurs="0" name="pintDeploymentFileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDeploymentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDeploymentFileResult" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sigesoft.Common" minOccurs="0" name="pobjOperationResult" nillable="true" type="q11:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeploymentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintDeploymentFileId" type="xs:int" />
        <xs:element minOccurs="0" name="filedata" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeploymentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeploymentFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>