node/winsynchronizer/sigesoft.node.sync.ui/Service References/ProxySync/Sync3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sigesoft.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sigesoft.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44894/Sync.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="ArrayOfSoftwareComponentCheckDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoftwareComponentCheckDto" nillable="true" type="tns:SoftwareComponentCheckDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftwareComponentCheckDto" nillable="true" type="tns:ArrayOfSoftwareComponentCheckDto" />
  <xs:complexType name="SoftwareComponentCheckDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="b_RequireUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="i_DeploymentFileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="i_SoftwareComponentId" type="xs:int" />
      <xs:element minOccurs="0" name="v_LocalVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_ServerVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoftwareComponentCheckDto" nillable="true" type="tns:SoftwareComponentCheckDto" />
</xs:schema>