node/winsynchronizer/sigesoft.node.sync.ui/Service References/ProxySync/Sync4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sigesoft.Server.WebClientAdmin.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sigesoft.Server.WebClientAdmin.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsoftwarecomponentreleaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="softwarecomponentreleaseDto" nillable="true" type="tns:softwarecomponentreleaseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsoftwarecomponentreleaseDto" nillable="true" type="tns:ArrayOfsoftwarecomponentreleaseDto" />
  <xs:complexType name="softwarecomponentreleaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="d_InsertDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d_ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d_UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_DeploymentFileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="i_IsLastVersion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="i_IsPublished" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="i_SoftwareComponentId" type="xs:int" />
      <xs:element minOccurs="0" name="v_AdditionalInformation1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_AdditionalInformation2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_DatabaseVersionRequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_ReleaseNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_SoftwareComponentVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="softwarecomponentreleaseDto" nillable="true" type="tns:softwarecomponentreleaseDto" />
</xs:schema>